VITE_FIREBASE_API_KEY=your-api-key
VITE_FIREBASE_AUTH_DOMAIN=your-auth-domain
VITE_FIREBASE_PROJECT_ID=your-project-id
VITE_FIREBASE_STORAGE_BUCKET=your-storage-bucket
VITE_FIREBASE_MESSAGING_SENDER_ID=your-messaging-sender-id
VITE_FIREBASE_APP_ID=your-app-id 
VITE_FIREBASE_UAT_API_KEY=your-uat-api-key
VITE_FIREBASE_UAT_AUTH_DOMAIN=your-uat-auth-domain
VITE_FIREBASE_UAT_PROJECT_ID=your-uat-project-id
VITE_FIREBASE_UAT_STORAGE_BUCKET=your-uat-storage-bucket
VITE_FIREBASE_UAT_MESSAGING_SENDER_ID=your-uat-messaging-sender-id
VITE_FIREBASE_FALLCARE_APP_ID=your-fallcare-app-id
VITE_FIREBASE_FALLCARE_API_KEY=your-fallcare-api-key
VITE_FIREBASE_FALLCARE_AUTH_DOMAIN=your-fallcare-auth-domain
VITE_FIREBASE_FALLCARE_PROJECT_ID=your-fallcare-project-id
VITE_FIREBASE_FALLCARE_STORAGE_BUCKET=your-fallcare-storage-bucket
VITE_FIREBASE_FALLCARE_MESSAGING_SENDER_ID=your-fallcare-messaging-sender-id
VITE_FIREBASE_FALLCARE_APP_ID=your-fallcare-app-id 